%button, button, .button {
  @include reset-box-model;
  @include unstyled-link;
  display: inline-block;
  padding: 3px 12px;
  @include adjust-font-size-to(16px);
  @extend %subpixel;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: $color-red;
  @include border-radius(2px);
  @include transition(background-color .25s);
  &:hover { background-color: lighten($color-red, 7.5%); }
  &.btn_small {
    padding: 0 9px;
    @include adjust-font-size-to(13px);
  }
}
