// gray
$color-black        : #333;
$color-gray         : #999;
$color-gray-light   : #f3f3f3;


// blue
$color-blue-light   : #53caf5;
$color-blue         : #40a9de;
$color-blue-dark    : darken($color-blue, 10%);
$color-blue-deep    : #415692;

// color by musou.tw
$color-red-dark     : #A70000;
$color-red          : #880013;
$color-red-light    : #E70000;
$color-orange       : #FF5000;

// text-color
$text-black         : #444;
$text-black-light   : #666;
$text-gray          : #8a8a8a;
$text-gray-light    : lighten($text-gray, 15%);

// global-text-color
$global-text-color       : $text-black;
$global-text-color-muted : $text-gray;
$global-link-color       : $color-blue-dark;
$global-link-color-hover : darken($color-blue-dark, 20%);

// background & border
$global-background-color : #f3f3f3;
$global-divider          : #eee;
$global-divider-dark     : #ccc;
