.footer {
  position: relative;
  @include leader(2);
  padding: rhythm(2) 0;
  background-color: $color-black;
  @include pie-clearfix;
  .link-item {
    text-align: center;
    margin-bottom: rhythm(1);
    a {
      display: block;
      color: white;
      padding: rhythm(.25) 0;
      @include at-breakpoint($pad) {
        display: inline-block;
        padding: 0 rhythm(.5);
      }
    }
    @include at-breakpoint($pad) {
      a + a {
        border-left: 2px solid $color-black-light;
      }
    }
  }
  .footer-logo {
    margin: 36px auto 12px;
    @include replace-text-with-svg("footer_logo");
  }
  .credit {
    float: none;
    text-align: center;
    color: $color-gray;
    @include adjust-font-size-to(13px);
    .copyright {
      @extend %anti-break;
    }
  }
}
