.iframe-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  .iframe-video-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.iframe-livehouse-in {
  position: relative;
  height: 0;
  padding-bottom: 150%;
  iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include at-breakpoint($pad) {
  .iframe-livehouse-in {
    padding-bottom: 100%
  }
}

@include at-breakpoint($desktop) {
  .iframe-livehouse-in {
    padding-bottom: 56.25%
  }
}