.live {
  padding: rhythm(1) 0;
  @include background( radial-gradient($color-red, black) );
}

.live-situation {
  @include trailer();
  .title {
    @include trailer(.5);
    @include padding-trailer(.5);
    border-bottom: 1px solid $color-gray-light;
  }
}
.live-comment-list {
  max-height: 500px;
  overflow-y: scroll;
}

.live-comment {
  margin: 12px 0;
  padding: 12px 6px;
  background-color: $color-gray-light;
  border: 1px solid darken($color-gray-light, 5%);
  @include border-radius(5px);
  &.highlight { border-color: $color-red; }
  .time {
    display: block;
    @include trailer(.5);
    @include padding-trailer(.5);
    text-align: center;
    color: $text-gray;
    font-weight: bold;
    border-bottom: 1px solid darken($color-gray-light, 3%);
  }
  .comment {
    display: block;
    text-align: center;
    .legislator {
      @include box-sizing(border-box);
      position: relative;
      display: inline-block;
      .avatar {
        margin: 0 6px 3px 6px;
        img { margin-bottom: 0; }
      }
      .name {
        display: none;
        position: absolute;
        top: -28px;
        width: 100%;
        @include adjust-font-size-to(ms(0));
        font-weight: bold;
        text-align: center;
        color: white;
        background-color: $color-black;
        @include border-radius(2px);
        &:after {
          content: "";
          position: absolute;
          top: 24px;
          left: 50%;
          margin-left: -4px;
          border: 4px solid transparent;
          border-top-color: $color-black;
        }
      }
      &:hover {
        .name {
          display: block;
        }
      }
    }
    .text {
      display: block;
      text-align: left;
    }
    .legislator + .text {
      @include leader(.25);
      @include padding-leader(.25);
      border-top: 1px solid darken($color-gray-light, 3%);
    }
    img { margin: 0; }
  }
  .share {
    display: block;
    @include leader(.5);
    text-align: center;
  }
  @include at-breakpoint($desktop) {
    .time {
      display: inline-block;
      width: 10%;
      @include trailer(0);
      @include padding-trailer(0);
      vertical-align: middle;
      border-bottom: none;
    }
    .comment {
      display: inline-block;
      width: 75%;
      vertical-align: middle;
      text-align: left;
    }
    .share {
      display: inline-block;
      width: 12%;
      @include leader(0);
      vertical-align: middle;
    }
  }
}