.live-video {
  position: relative;
  padding: rhythm(2) 0;
  @include background( radial-gradient($color-red, black) );
  .live-title {
    color: white;
    @include trailer();
  }
}

.live-content {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: -48px;
  background-color: $color-gray-light;
  .title {
    font-weight: bold;
    @include trailer(.5);
  }
}

.live-situation {
  @include trailer();
  .title {
    @include trailer(.5);
    @include padding-trailer(.5);
    border-bottom: 1px solid $color-gray-light;
  }
}

.live-comment {
  @include box-sizing(border-box);
  margin-bottom: 12px;
  padding: 12px;
  background-color: white;
  border: 1px solid $color-gray-light;
  @include border-radius(5px);
  &:target { background-color: #ffe; }
  .info {
    @include pie-clearfix;
    @include trailer(.5);
    @include padding-trailer(.5);
    border-bottom: 1px solid darken($color-gray-light, 3%);
  }
  .time {
    float: left;
    display: block;
    margin-top: 3px;
    text-align: center;
    color: $text-gray;
    font-weight: bold;
  }
  .share {
    float: right;
    display: block;
    text-align: center;
  }
  .comment {
    display: block;
    text-align: center;
    @include word-break(break-all);
    .text {
      display: block;
      text-align: left;
    }
    a {
      display: inline-block;
      margin: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
    .comment-image + .comment-image { margin-left: 12px; }
  }
  .tag-legislator {
    @include leader(.5);
    text-align: center;
    span {
      display: block;
      text-align: center;
      @include trailer(.25);
      @include adjust-font-size-to(13px);
      font-weight: bold;
    }
    .legislator {
      @include box-sizing(border-box);
      position: relative;
      display: inline-block;
      .avatar {
        margin: 0 6px 3px 6px;
        img { margin-bottom: 0; }
      }
      .name {
        display: none;
        position: absolute;
        left: 50%;
        top: -28px;
        span {
          display: inline-block;
          margin-left: -100%;
          width: auto;
          padding: 0 6px;
          @include adjust-font-size-to(13px);
          font-weight: bold;
          text-align: center;
          color: white;
          background-color: $color-black;
          @include border-radius(2px);
          @include nowrap;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 24px;
            margin-left: -4px;
            border: 4px solid transparent;
            border-top-color: $color-black;
          }
        }
      }
      &:hover {
        .name {
          display: block;
        }
      }
    }
  }
}

.post-extend-content {
  .live-comment {
    border-color: transparent;
    background-color: lighten($color-gray-light, 0%);
    &.highlight { border-color: $color-red; }
  }
}

@include at-breakpoint($pad) {
  .live-comment {
    .comment {
      display: block;
      text-align: left;
    }
    .tag-legislator {
      text-align: left;
      span { text-align: left; }
      .legislator {
        .name {
          span { margin-left: -50%; }
        }
      }
    }
  }
}

@include at-breakpoint($desktop) {
  .live-situation {
    @include span-columns(8);
  }
}