.open-menu {
  .member {
    @include translateX(260px);
  }
}
.member {
  position: absolute;
  z-index: 1000;
  right: 0;
  @include transition(transform .25s);
  @include at-breakpoint($desktop) {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 71em;
  }
}

.signin, .signed {
  position: relative;
  z-index: 10;
  float: right;
  font-weight: bold;
  color: white;
  cursor: pointer;
  .member-nav {
    position: relative;
    display: block;
    padding: 18px 16px 18px 26px;
    @include hide-text();
    &:before {
      content: "";
      position: absolute;
      top: 18px;
      left: 16px;
      @include replace-text-with-svg("member_normal");
    }
    &:hover {
      background-color: $color-red-dark;
    }
  }
  .member-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 12px 6px;
    min-width: 132px;
    text-align: center;
    &.is-open { display: block; }
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      right: 15px;
      border: 10px solid transparent;
      border-top: none;
      border-bottom-color: $color-red;
    }
    ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: $color-red;
      @include border-radius(5px);
    }
    li a {
      display: block;
      padding: 12px;
      color: white;
      &:hover {
        text-decoration: none;
        background-color: $color-red-dark;
      }
    }
    li + li {
      border-top: 1px solid rgba(white, .25);
    }
    .normal-member a {
      span {
        position: relative;
        padding-left: 30px;
        &:before {
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          @include replace-text-with-svg("member_normal");
        }
      }
    }
    .legislator-member a {
      span {
        position: relative;
        padding-left: 30px;
        &:before {
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          @include replace-text-with-svg("member_legislator");
        }
      }
    }
  }
}

.sign-form {
  .title {
    @include trailer(.5);
    @include adjust-font-size-to(21px);
    font-weight: bold;
    color: $color-red;
    border-bottom: 1px solid $color-gray;
    &.legislator-signin {
      position: relative;
      padding-left: 30px;
      &:before {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        @include replace-text-with-svg("member_legislator");
      }
    }
    &.legislator-forget-pw {
      position: relative;
      padding-left: 30px;
      &:before {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        @include replace-text-with-svg("member_forget_pw");
      }
    }
  }
  .form-row { @include trailer(); }
  .label {
    @include trailer(.5);
    color: $text-black;
    font-weight: bold;
  }
  input[type="text"],
  input[type="password"] {
    @include reset-box-model;
      @include box-sizing(border-box);
      overflow: hidden;
      width: 100%;
      padding: rhythm(.25);
      border: 1px solid $color-gray;
      @include border-radius(2px);
  }
  input[type="submit"] {
    padding: 6px 0;
    width: 100%;
  }
  .forget-pw {
    display: block;
    @include adjust-font-size-to(13px);
  }
  .identity {
    @include leader(.25);
    .radio {
      display: inline-block;
      padding-right: 12px;
      input[type="radio"] {
        margin-right: 3px;
      }
    }
  }
  .contact-time {
    select + select { margin-left: 6px; }
    span { margin: 0 6px; }
    .start, .end { display: inline-block; }
  }
}

@include at-breakpoint($desktop) {
  .signin, .signed {
    .member-nav {
      padding: 18px 12px 18px 43px;
      text-indent: 0;
      max-width: 70px;
      @include ellipsis;
      &:before { left: 12px; }
    }
    .member-menu {
      margin: 12px -12px 12px 0;
      min-width: 144px;
      &:before { right: 48px; }
    }
  }
  .sign-form {
    @include squish(3,3);
    @include span-columns(6);
  }
}