.sidebar {
  @include leader();
  @include at-breakpoint($desktop) {
    @include span-columns(4 omega);
  }
}

.sidebar-item {
  @include trailer(1);
  padding: 10px 12px;
  border: 1px solid $color-gray-light;
  @include border-radius(5px);
}

.sidebar-title {
  @include trailer(.5);
  @include padding-trailer(.25);
  font-weight: bold;
  border-bottom: 1px solid $color-gray-light;
}

@include at-breakpoint($desktop) {
  .sidebar-item {
    padding: 20px 24px;
  }
}