= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "/vender/bootstrap-3.2.0-dist/js/bootstrap.min", \
  "/vender/jquery.magnific_popup.min", \
  "/vender/jquery.hc-sticky.min.js", \
  "/vender/macho.js", \
  "all"
