@include establish-baseline;

%avenir {
  font-family: "AvenirNext-DemiBoldItalic", "Avenir-HeavyOblique", "Arial", "STHeitiTC-Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%helvetica {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light","Microsoft JhengHei", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%subpixel {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  @extend %helvetica;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $global-text-color;
}

// heading
#{headings()} {
  @include reset-box-model;
  font-weight: normal;
}
h1 {
  @include adjust-font-size-to(ms(3), 1.5);
}
h2 {
  @include adjust-font-size-to(ms(2), 1.25);
}
h3 {
  @include adjust-font-size-to(ms(1));
}
h4 {
  @include adjust-font-size-to(ms(0), .875);
}
h5 {
  @include adjust-font-size-to(ms(-1), .75);
}
h6 {
  @include adjust-font-size-to(ms(-2), .75);
}

p {
  @include leader(0);
  @include trailer(1);
  @include adjust-font-size-to(ms(0), .875);
}


// 引用他處文獻
blockquote {
  @include reset-box-model;
  @include leader(1);
  @include trailer(1);
  border-left: 3px solid $global-divider;
  padding-left: rhythm(1);
  @include adjust-font-size-to($base-font-size);
  cite {
    display: block;
    color: $global-text-color-muted;
    &:before {
      content: '\2014 \00A0';
    }
  }
}


// code 示範區（具有陰影提示）
pre {
  code {
    $code-block-background-color: $global-background;
    $code-block-cover-size: 80px;
    $code-block-cover-position: 12.5%;
    $code-block-shadow-color: #999;
    $code-block-shadow-size: $code-block-cover-size * ($code-block-cover-position/100%);
    $code-block-weight: .3;

    font-family: "Anonymous Pro", "Inconsolata", "Consolas Regular Font", "Monaco", "Courier New" ,MonoSpace;
    display: block;
    @include leader(1);
    @include trailer(1);
    padding: rhythm(.75);
    color: #333;
    @include adjust-font-size-to(12px, .75);
    overflow: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    background-image:
      /* Shadow covers */
      linear-gradient(to right, $code-block-background-color $code-block-cover-position, rgba($code-block-background-color, 0) ),
      linear-gradient(to right, rgba($code-block-background-color, 0),  $code-block-background-color ( 100% - $code-block-cover-position ) ),
      /* Shadows */
      radial-gradient(0 50%, farthest-side, rgba($code-block-shadow-color, $code-block-weight), rgba($code-block-shadow-color, 0) ),
      radial-gradient(100% 50%,farthest-side, rgba($code-block-shadow-color, $code-block-weight), rgba($code-block-shadow-color, 0) );
    background-image:
      /* Shadow covers */
      linear-gradient(to right, $code-block-background-color $code-block-cover-position, rgba($code-block-background-color, 0) ),
      linear-gradient(to right, rgba($code-block-background-color, 0),  $code-block-background-color ( 100% - $code-block-cover-position ) ),
      /* Shadows */
      radial-gradient(farthest-side at 0 50%,  rgba($code-block-shadow-color, $code-block-weight), rgba( $code-block-shadow-color, 0) ),
      radial-gradient(farthest-side at 100% 50%,  rgba($code-block-shadow-color, $code-block-weight), rgba( $code-block-shadow-color, 0) );
    background-repeat: no-repeat;
    background-color: $code-block-background-color;
    background-size: $code-block-cover-size 100%, $code-block-cover-size 100%, $code-block-shadow-size 110%, $code-block-shadow-size 110%;
    background-attachment: local, local, scroll, scroll;
    background-position: left center, right center, left center, right center;
  }
}


// list
ol, ul {
  @include leader(1);
  @include trailer(1);
  padding-left: 24px;
  ol, ul {
    margin: 0;
  }
}

dl {
  @include leader(1);
  @include trailer(1);
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0;

  }
}


// inline style
a {
  @include link-colors($global-link-color, $global-link-color-hover);
  @include hover-link;
  img {
    border: none;
  }
}

.break-all {
  @include word-break(break-all);
}

img {
  max-width: 100%;
  @include trailer(1);
}

// divider
hr, .divider {
  @include leader(1);
  @include trailer(1);
  border-top: 1px solid $global-divider;
}
