.focus-list {
  .focus-item {
    @include pie-clearfix;
    display: block;
    @include trailer(.5);
    @include padding-trailer(.5);
    color: $text-black;
    border-bottom: 1px solid darken($color-gray-light, 10%);
    .focus-image {
      @include box-sizing(border-box);
      display: none;
      .focus-image-wrap {
        overflow: hidden;
        position: relative;
        height: 0;
        padding-top: 56.667%;
        background-image: url(/images/focus_image_bg.png);
        background-size: cover;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
      }
    }
    .focus-content {
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      .title {
        margin-bottom: 3px;
        color: $color-red;
        &:hover { text-decoration: underline; }
      }
      .summary { display: none; }
      .highlight {
        float: right;
        @include replace-text-with-dimensions("badge_highlight.png");
      }
      .watchout {
        float: right;
        @include replace-text-with-dimensions("badge_watchout.png");
      }
    }
  }
}

.author-card {
  .author {
    @include trailer();
    text-align: center;
  }
  .label {
    display: block;
    @include adjust-font-size-to(13px, .75);
    font-weight: bold;
  }
}

@include at-breakpoint($pad) {
  .focus-list {
    .focus-item {
      @include trailer();
      @include padding-trailer();
      .focus-image {
        float: right;
        display: block;
        width: 30%;
      }
      .focus-content {
        display: inline-block;
        width: 67%;
        .meta-info { @include trailer(.5); }
        .summary {
          display: block;
          overflow: hidden;
          @include trailer(0);
          height: 48px;
          @include adjust-font-size-to(15px);
          color: $text-black;
          @include transition(color .25s);
        }
      }
      &.video {
        .focus-content {
          .title {
            &:before { top: 4px; }
          }
        }
      }
    }
  }
}

@include at-breakpoint($desktop) {
  .focus-list {
    .focus-item {
      .focus-image { width: 27%; }
      .focus-content {
        width: 70%;
        p { height: 72px; }
      }
    }
  }
}