.schedule-slider {
  @include padding-trailer(4);
  @include background( linear-gradient( to bottom, black 0%, $color-black 30%, white 100% ));
  .schedule-table {
    @include leader(0);
  }
  .slider-item {
    float: left;
    opacity: 0.5;
    @include scale(.9);
    @include transition(opacity .25s, transform .25s);
    &.slick-center {
      opacity: 1;
      @include scale(1);
    }
    .data-empty {
      @include leader(1);
      @include trailer(1);
      img { display: inline-block; }
    }
  }
  .sitting.in-index {
    margin: 0 auto;
    max-width: 580px;
    overflow: hidden;
    border: none;
    background-color: $color-black;
    @include border-radius(5px);
    .sitting-inner {
      position: relative;
      padding-top: 100%;
      background-position: center center;
      @include background-size(cover);
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, .15);
        @include transition(background-color .25s);

      }
      &:hover {
        &:before {
          background-color: rgba(black, 0);
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include background( linear-gradient( to bottom, rgba(black, 0), rgba(black, .7) 100% ));
      }
      @include at-breakpoint(500px 4) { padding-top: 70%; }
      @include at-breakpoint($pad) { padding-top: 51.75%; }
    }
    .sitting-info {
      position: absolute;
      z-index: 1000;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      font-weight: bold;
      color: white;
      @include text-shadow(0 1px 2px rgba(black, .5));
      .title {
        padding: 0 12px;
        @include adjust-font-size-to(16px);
      }
      .meta-info {
        .meta { display: block; }
        .label { color: white; }
      }
      @include at-breakpoint($pad) {
        .title { @include adjust-font-size-to(25px, 1.5); }
        .meta-info {
          .meta { display: inline-block; }
        }
      }
    }
  }
  .schedule-empty {
    @include leader(0);
    @include trailer(0);
    font-weight: bold;
    text-align: center;
    img { margin: 0 auto; }
    span { @include leader(.5); }
  }
  .schedule-tab {
    background-color: transparent;
    ul {
      max-width: 260px;
      &:before { display: none; }
    }
    li a {
      padding-top: 6px;
      padding-bottom: 42px;
      @include adjust-font-size-to(16px);
      span {
        padding-left: 6px;
        background-color: transparent;
        &:before { display: none; }
      }
      &:hover { background: transparent; }
    }
    li.active a {
      color: white;
      background: transparent;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 18px;
        margin-left: -10px;
        border: 10px solid transparent;
        border-top-color: white;
      }
    }
  }
}

.slogan {
  .slogan-content {
    padding: rhythm(.5) 0 rhythm(1);
    color: white;
    @include adjust-font-size-to(16px, 2);
    font-weight: bold;
    text-align: center;
    @include at-breakpoint($pad) {
      @include adjust-font-size-to(21px);
    }
  }
  .slogan-mark {
    position: relative;
    top: 16px;
    display: inline-block;
    @include replace-text-with-dimensions("icon_mark.png");
    background-image: none, image-url("icon_mark.svg");
  }
}

.news { margin-top: -48px; }

.focus-collection, .video-collection {
  @include leader(2);
  .title {
    @include trailer(.5);
    @include padding-trailer(.25);
    @include adjust-font-size-to(16px, 1.25);
    font-weight: bold;
    border-bottom: 1px solid $color-gray;
    .entrance {
      float: right;
      margin-top: 6px;
      @include adjust-font-size-to(13px, 1);
    }
  }
}

.legislator-update {
  @include leader(2);
  .title {
    margin-bottom: -1px;
    @include padding-trailer(.25);
    @include adjust-font-size-to(16px, 1.25);
    font-weight: bold;
    border-bottom: 1px solid $color-gray;
    .entrance {
      float: right;
      margin-top: 6px;
      @include adjust-font-size-to(13px, 1);
    }
  }
  .list {
    li { margin-top: 13px; }
    a {
      min-height: 50px;
      &:hover {
        text-decoration: none;
        .update-content {
          .content {
            color: $color-red;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .avatar {
    float: left;
    margin-right: 12px;
  }
  .update-content {
    overflow: hidden;
    .name {
      @include adjust-font-size-to(16px);
      color: $color-gray;
      font-weight: bold;
    }
    .content {
      @include ellipsis;
    }
  }
}

.dictionary-tip {
  @include pie-clearfix;
  @include leader(2);
  @include padding-leader();
  @include padding-trailer();
  margin-bottom: -48px;
  background-color: $color-gray-light;
  .container { position: relative; }
  .dictionary-card {
    .title {
      @include trailer(.25);
      @include adjust-font-size-to(16px, 1.25);
      font-weight: bold;
      .entrance {
        float: right;
        margin-top: 6px;
        @include adjust-font-size-to(13px, 1);
      }
    }
  }
}

@include at-breakpoint($pad) {
  .schedule-slider {
    .sitting.in-index {
      &.empty {
        height: 345px;
      }
    }
    .schedule-tab {
      ul { max-width: 320px; }
    }
  }
}

@include at-breakpoint($desktop) {
  .schedule-slider {
    .sitting.in-index {
      .sitting-info {
        padding: 24px 0;
      }
      &.empty {
        @include padding-leader(3);
        height: 186px;
      }
    }
  }
  .focus-collection, .video-collection {
    @include box-sizing(border-box);
    @include span-columns(4);
    @include leader(0);
    padding-right: 24px;
  }

  .legislator-update {
    @include span-columns(4 omega);
    @include leader(0);
  }
  .dictionary-tip {
    .dictionary-card {
      @include pre(1);
      @include span-columns(9);
    }
    .a-cao {
      position: absolute;
      bottom: -24px;
      right: 0;
      @include replace-text-with-dimensions("dictionary_acao.png");
    }
  }
}

