@keyframes livenow {
  0% { background-position: 0 0, 0 -1px; }
  100% { background-position: 0 0, -100px -1px; }
}

@-webkit-keyframes livenow {
  0% { background-position: 0 0, 0 -1px; }
  100% { background-position: 0 0, -100px -1px; }
}

@keyframes livenow-offset {
  0% { background-position: 0 0, 50px -1px; }
  100% { background-position: 0 0, -50px -1px; }
}

@-webkit-keyframes livenow-offset {
  0% { background-position: 0 0, 50px -1px; }
  100% { background-position: 0 0, -50px -1px; }
}

.schedule-tab {
  background-color: $color-gray;
  ul {
    @include reset-box-model;
    @include pie-clearfix;
    @extend %container;
    position: relative;
    margin: 0 auto;
    list-style: none;
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 15%;
      right: 15%;
      height: 3px;
      background-color: white;
    }
  }
  li {
    @include box-sizing(border-box);
    position: relative;
    float: left;
    width: 33.333%;
    a {
      @include unstyled-link;
      display: block;
      padding: rhythm(1.5) 0;
      text-align: center;
      @include adjust-font-size-to(ms(1));
      text-decoration: none;
      color: rgba(white, .6);
      @include transition(color .25s);
      span {
        position: relative;
        z-index: 10;
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        background-color: $color-gray;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 6px;
          opacity: .6;
          @include transition(opacity .25s);
        }
      }
      &:hover {
        color: white;
        span:before { opacity: 1; }
      }
    }
    &.active a {
      position: relative;
      color: white;
      span:before { opacity: 1; }
      &:after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -10px;
        border: 10px solid transparent;
        border-top-color: $color-gray;
      }
    }
  }
}

.schedule-table {
  @include leader();
  .committee {
    @include trailer(.5);
    @include adjust-font-size-to(ms(1));
    font-weight: bold;
    color: $color-red;
  }
}

.schedule-empty {
  @include leader(5);
  @include trailer(3);
  text-align: center;
  span {
    display: block;
    @include adjust-font-size-to(ms(3));
  }
}

.sitting {
  @include pie-clearfix;
  @include unstyled-link;
  @include box-sizing(border-box);
  display: block;
  @include trailer();
  text-align: center;
  background-color: $color-gray-light;
  @include transition(background-color .25s);
  border: 1px solid darken($color-gray-light, 5%);
  @include border-radius(2px);
  &:hover {
    @include unstyled-link;
    background-color: lighten($color-gray-light, 2.5%);
    .sitting-livenow {
      background-color: lighten($color-red, 15%);
    }
  }
  .sitting-info {
    position: relative;
    padding: 24px 0;
  }
  .main-info {
    display: block;
    text-align: center;
    margin-top: 12px;
    padding-top: 12px;
    .title {
      font-weight: bold;
      @include ellipsis;
    }
    .date {
      @include trailer(.15);
      @include adjust-font-size-to(ms(0));
      color: $color-gray;
      font-weight: bold;
    }
    .meta-info {
      @include leader(.25);
      .meta { display: block; }
    }
  }
  .president {
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    vertical-align: middle;
  }
  .presenter {
    display: inline-block;
    text-align: center;
    .anchor, .reviewer {
      display: inline-block;
      margin: 0 6px;
      vertical-align: middle;
    }
  }
  .label {
    display: block;
    @include adjust-font-size-to(ms(0), .75);
    font-weight: bold;
    color: $color-red;
  }
  .sitting-livenow {
    @include hide-text();
    $color-red-dark: darken($color-red, 10%);
    overflow: hidden;
    position: relative;
    height: 20px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: $color-red;
    background-image: url("/images/livenow_text.png");
    background-image: none, url("/images/livenow_text.svg");
    background-repeat: repeat-x;
    @include transition(background-color .5s);
    animation: livenow 5s linear infinite;
    -webkit-animation: livenow 5s linear infinite;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include background(linear-gradient(to right, $color-red-dark 0%, rgba($color-red-dark, 0) 50%, $color-red-dark 100%));
    }
  }
  &:nth-child(even) {
    .sitting-livenow {
      animation: livenow-offset 5s linear infinite;
      -webkit-animation: livenow-offset 5s linear infinite;
    }
  }
  .sitting-summary {
    @include pie-clearfix;
    background-color: white;
    @include border-radius(0 0 4px 4px);
    .title {
      float: left;
      position: relative;
      padding: 10px 18px;
      @include adjust-font-size-to(ms(0));
      font-weight: bold;
      &:after {
        content: "";
        position: absolute;
        top: 15%;
        right: 0;
        bottom: 15%;
        border-right: 1px solid darken($color-gray-light, 5%);
      }
    }
    p {
      @include trailer(0);
      padding: 10px 0 10px 18px;
      @include adjust-font-size-to(ms(0));
      text-align: left;
      @include ellipsis;
    }
  }
}

@include at-breakpoint($pad) {
  .schedule-tab {
    li a {
      @include adjust-font-size-to(ms(2), 1);
      span { padding-left: 34px; }
      &.schedule-forecast span:before { @include replace-text-with-svg("icon_forecast"); }
      &.schedule-live span:before { @include replace-text-with-svg("icon_live"); }
      &.schedule-report span:before { @include replace-text-with-svg("icon_report_white"); }
    }
  }
  .schedule-table {
    .topic-label { display: inline-block; }
  }
  .sitting {
    @include border-radius(5px);
    .sitting-summary {
      p { @include adjust-font-size-to(ms(1)); }
    }
  }
}

@include at-breakpoint($desktop) {
  .sitting {
    text-align: left;
    &.empty {
      @include padding-leader(3);
      height: 186px;
    }
    .sitting-info { padding: 0; }
    .main-info {
      display: inline-block;
      margin-top: 0;
      padding: 12px 0 12px 24px;
      width: 55%;
      text-align: left;
      vertical-align: middle;
      .meta-info {
        .meta { display: inline-block; }
      }
    }
    .president {
      min-width: 102px;
      padding: 12px;
      margin: 0;
      background-color: darken($color-gray-light, 2%);
      @include border-radius(4px 0 0 0);
    }
    .presenter {
      position: absolute;
      right: 0;
      top: 50%;
      @include translateY(-50%);
      .anchor, .reviewer {
        min-width: 90px;
        margin-left: 0;
        margin-right: 12px;
      }
    }
  }
}
