.sitting-info-card {
  .president {
    @include unstyled-link;
  }
  .presenter {
    display: block;
    @include leader();
    @include trailer(2);
    text-align: center;
    .anchor,
    .reviewer,
    .president {
      display: inline-block;
      padding: 0 12px;
    }
  }
  ul { text-align: left; }
  .label {
    display: block;
    @include adjust-font-size-to(13px, .75);
    font-weight: bold;
  }
}

.report-editing {
  @include leader();
  text-align: center;
  img { margin: 0 auto; }
  span {
    display: inline-block;
    @include leader();
    @include adjust-font-size-to(27px);
  }
}