.legislators {
  @include box-sizing(border-box);
  @include leader();
  margin-left: -16px;
  margin-right: -16px;
  .resume-tab {
    @include reset-box-model;
    @include pie-clearfix;
    position: relative;
    overflow: hidden;
    list-style: none;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: darken($color-gray-light, 10%);
    }
    li {
      @include box-sizing(border-box);
      position: relative;
      z-index: 10;
      float: left;
      width: 33.333%;
      a {
        @include unstyled-link;
        @extend %h3;
        display: block;
        padding: rhythm(.5) 0;
        text-align: center;
        text-decoration: none;
        color: $text-black-light;
        @include transition(color .25s);
        &:hover {
          color: $color-red;
        }
      }
      &.active a {
        color: $color-red;
        border-bottom: 5px solid $color-red;
      }
    }
  }
  .resume-content {
    @include leader();
    border: 1px solid $color-gray-light;
    .tab-pane {
      padding: rhythm(.5);
    }
  }

  .legislator-data {
    .data-title {
      @include trailer(.5);
      @include padding-trailer(.5);
      font-weight: bold;
      border-bottom: 1px solid $color-gray-light;
    }
    .note {
      text-align: right;
      @include trailer(0);
      @include adjust-font-size-to(ms(0));
      a {
        display: inline-block;
        color: $color-blue;
      }
    }
  }
}

@include at-breakpoint($pad) {
  .legislators {
    margin-left: 0;
    margin-right: 0;
    .resume-content {
      @include border-radius(5px);
      .tab-pane {
        padding: rhythm();
      }
    }
    .ask-list {
      .tab-pane { padding: 0; }
    }
    .legislator-data {
      .note {
        text-align: right;
      }
    }
  }
}

@include at-breakpoint($desktop) {
  .legislators {
    @include span-columns(8);
    padding-right: 48px;
  }
}