.avatar {
  display: inline-block;
  margin-bottom: 3px;
  img {
    max-width: none;
    display: block;
    margin: 0 auto;
    @include border-radius(100%);
    border: 5px solid white;
    @include box-shadow( 0px 0px 5px $color-gray );
  }
  .president &, .legislator & {
    position: relative;
    .party {
      position: absolute;
      right: -3px;
      bottom: -3px;
      img {
        width: 20px;
        height: auto;
        display: block;
        margin: 0 auto;
        @include border-radius(100%);
        border: 4px solid white;
        @include box-shadow(none);
      }
    }
  }
  .president & {
    img { @include box-shadow( 0px 0px 5px $color-red ); }
  }
}

.broadcast-presenter {
  display: inline-block;
  text-align: center;
  &.in-sitting, &.in-schedule-live {
    display: block;
    @include trailer();
  }
  .anchor, .reviewer {
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
    .name { text-align: center; }
  }
}

.president {
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  vertical-align: middle;
  .name { text-align: center; }
  &.in-sitting {
    display: block;
    margin: 0 auto rhythm() auto;
  }
  &.in-schedule-live {
    @include trailer(.5);
  }
}

@include at-breakpoint($desktop) {
  .president {
    min-width: 90px;
    margin-left: 0;
    margin-right: 12px;
  }
  .broadcast-presenter {
    &.in-schedule-forecast {
      position: absolute;
      right: 0;
      top: 50%;
      @include translateY(-50%);
    }
    .anchor, .reviewer {
      min-width: 90px;
      margin-left: 0;
      margin-right: 12px;
    }
  }
}

