%button, button, a.button {
  @include reset-box-model;
  @include unstyled-link;
  display: inline-block;
  padding: 3px 12px;
  @include adjust-font-size-to(ms(1));
  text-align: center;
  @include border-radius(5px);
}

a.btn_share {
  color: white;
  background-color: $color-blue-deep;
  @include transition(background-color .25s);
  &:hover {
    background-color: lighten($color-blue-deep, 10%);
  }
}