.header {
  background-color: $color-red;
}

.logo {
  padding: 11px 0 13px;
  text-align: center;
  a {
    display: inline-block;
    vertical-align: top;
    @include replace-text-with-svg("logo");
  }
  @include at-breakpoint($desktop) {
    text-align: left;
  }
}

.menu-btn {
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  @include at-breakpoint($desktop) {
    display: none;
  }
}

.menu-btn-bar {
  display: block;
  width: 24px;
  height: 2px;
  margin: auto;
  opacity: 1;
  background-color: white;
  @include transition(transform .5s, opacity .5s);
  & + & {
    margin-top: 6px;
  }
  @mixin first-and-last-bar-transform($degree) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 (-24px/2);
    @include transform( rotate($degree) );
  }
  .open-menu & {
    &:first-child {
      @include first-and-last-bar-transform(45deg);
    }
    &:last-child {
      @include first-and-last-bar-transform(-45deg);
    }
    &:nth-child(2n) {
        opacity: 0;
    }
  }
}
