.menu {
  background-color: $color-black;
  .main-nav {
    list-style: none;
    @include reset-box-model;
    @include at-breakpoint($desktop) {
      float: right;
    }
    li {
      @include at-breakpoint($desktop) {
        float: left;
      }
      &.active {
        background-color: lighten($color-red, 10%);
      }
    }
    li + li {
      border-top: 1px solid lighten($color-black, 10%);
      @include at-breakpoint($desktop) {
          border-top: none;
      }
    }
    a {
      display: block;
      padding: 18px 12px;
      color: white;
      @include transition(background, .2s);
      &:hover {
        text-decoration: none;
        background-color: lighten($color-red, 10%);
      }
      &:active {
        background-color: lighten($color-red, 5%);
      }
    }
  }
}
