.announce {
  @include box-sizing(border-box);
  position: fixed;
  z-index: 1000;
  bottom: 12px;
  padding: 6px;
  width: 100%;
  @include translate3d(0px, 0px, 0px);
  .announce-inner {
    @include pie-clearfix;
    position: relative;
    display: inline-block;
    max-width: 500px;
    padding: 24px;
    text-align: left;
    background-color: white;
    border: 1px solid $color-red;
    @include box-shadow(0px 3px 6px rgba(black, .25));
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 10px;
      background-color: $color-red;
    }
  }
  .announcer { display: none; }
  .announce-content {
    overflow: hidden;
    .title {
      color: $color-gray;
      font-weight: bold;
      @include adjust-font-size-to(ms(0));
    }
    .content {
      @include trailer(0);
      height: 48px;
      overflow: hidden;
      @include adjust-font-size-to(ms(0));
    }
    .action {
      @include adjust-font-size-to(ms(0));
      font-weight: bold;
    }
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    color: $text-gray;
    @include adjust-font-size-to(ms(4), 1);
    @include transition(color .25s);
    cursor: pointer;
    &:hover { color: $text-black; }
  }
}

@include at-breakpoint($pad) {
  .announce {
    bottom: 24px;
    left: 24px;
    .announce-inner {
      padding: 18px;
    }
    .announcer {
      display: block;
      float: left;
      margin-top: 3px;
      margin-right: 12px;
    }
  }
}