@keyframes announce-animation {
  0% {
    opacity: 0;
    @include translate3d(-100px, 0px, 0px);
  }
  100% {
    opacity: 1;
    @include translate3d(0px, 0px, 0px);
  }
}

@-webkit-keyframes announce-animation {
  0% {
    opacity: 0;
    @include translate3d(-100px, 0px, 0px);
  }
  100% {
    opacity: 1;
    @include translate3d(0px, 0px, 0px);
  }
}


.announce {
  display: block;
  position: relative;
  @include box-sizing(border-box);
  position: fixed;
  z-index: 1000;
  bottom: 12px;
  padding: 6px;
  @include translate3d(0px, 0px, 0px);
  @include transition(transform 1s, opacity 1s);
  animation: announce-animation .5s ease-out;
  -webkit-animation: announce-animation .5s ease-out;
  &.is-drop {
    @include create-transform( false, false, false, false, false, false , -25deg, false, -100px, 500px );
    @include at-breakpoint($pad) {
      @include create-transform( false, false, false, false, false, false , -25deg, false, -50px, 300px );
    }
    @include at-breakpoint($desktop) {
      @include create-transform( false, false, false, false, false, false , -25deg, false, -50px, 200px );
    }
  }
  .announce-inner {
    @include pie-clearfix;
    display: inline-block;
    max-width: 420px;
    padding: 24px;
    text-align: left;
    background-color: $color-red;
    border: 1px solid $color-black;
    @include border-radius(5px);
  }
  .announcer { display: none; }
  .announce-content {
    overflow: hidden;
    .title {
      color: $color-gray-light;
      font-weight: bold;
      @include adjust-font-size-to(13px);
    }
    .content {
      @include trailer(0);
      height: 48px;
      overflow: hidden;
      @include adjust-font-size-to(13px);
      font-weight: bold;
      color: white;
    }
    &:hover {
      text-decoration: none;
      .content { text-decoration: underline; }
    }
  }
  .close {
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 2px 5px;
    color: white;
    opacity: .5;
    @include adjust-font-size-to(ms(4), 1);
    @include transition(opacity .25s);
    cursor: pointer;
    &:hover { opacity: 1; }
  }
}

@include at-breakpoint($pad) {
  .announce {
    bottom: 24px;
    left: 24px;
    .announce-inner {
      padding: 18px;
    }
    .announcer {
      display: block;
      float: left;
      margin-top: 3px;
      margin-right: 12px;
    }
  }
}