@keyframes announce-animation {
  0% {
    @include translate3d(-100%, 0px, 0px);
  }
  100% {
    @include translate3d(0px, 0px, 0px);
  }
}

@-webkit-keyframes announce-animation {
  0% {
    @include translate3d(-100%, 0px, 0px);
  }
  100% {
    @include translate3d(0px, 0px, 0px);
  }
}


.announce {
  display: block;
  @include box-sizing(border-box);
  position: fixed;
  z-index: 1000;
  bottom: 12px;
  margin-right: 12px;
  @include translate(0px, 0px, 0px);
  @include transform-origin(0, 100%, 0);
  @include transition(transform .5s cubic-bezier(0.55, 0.085, 0.68, 0.53));
  animation: announce-animation .5s ease-out;
  -webkit-animation: announce-animation .5s ease-out;
  .announce-inner {
    @include pie-clearfix;
    display: block;
    max-width: 420px;
    padding: 18px 30px 18px 18px;
    text-align: left;
    background-color: $color-red;
    @include transition(background-color .25s);
    &:hover {
      background-color: lighten($color-red, 5%);
    }
  }
  &.is-drop {
    @include transform(translate(30px, 200px) rotate(60deg));
  }
  .announcer { display: none; }
  .announce-content {
    float: left;
    max-width: 330px;
    overflow: hidden;
    .content {
      @include trailer(0);
      height: 72px;
      overflow: hidden;
      @include adjust-font-size-to(13px);
      font-weight: bold;
      color: white;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .close {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 2px 5px;
    color: white;
    opacity: .7;
    @include adjust-font-size-to(ms(4), 1);
    @include transition(opacity .25s);
    cursor: pointer;
    &:hover { opacity: 1; }
  }
}

@include at-breakpoint($pad) {
  .announce {
    bottom: 48px;
    .announcer {
      display: block;
      float: left;
      margin-top: 3px;
      margin-right: 12px;
    }
  }
}