.article {
  h1, h2, h3, h4, h5, h6 {
    @include trailer(.5);
    font-weight: bold;
  }
  h2 ~ h2 { @include leader(2); }
  ul { padding-left: 24px; }
  img {
    display: block;
    @include trailer();
  }
  a { display: inline-block; }
  &.big-text {
    #{headings()} {
      @include leader(2);
      @include trailer();
      text-align: center;
    }
    li {
      #{headings()} { text-align: left; }
    }
    @include at-breakpoint($desktop) {
      %h1, h1 { @include adjust-font-size-to(34px, 2); }
      %h2, h2 { @include adjust-font-size-to(27px, 1.5); }
      %h3, h3 { @include adjust-font-size-to(21px, 1.25); }
      %h4, h4 { @include adjust-font-size-to(16px); }
      %h5, h5 { @include adjust-font-size-to(13px, .875); }
      %h6, h6 { @include adjust-font-size-to(10px, .75); }
      p { @include adjust-font-size-to(21px, 1.5); }
      h2 ~ h2 {
        @include leader(3);
      }
    }
  }
}
