.avatar {
  display: inline-block;
  margin-bottom: 3px;
  @include border-radius(100%);
  border: 1px solid $color-black;
  img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    @include border-radius(100%);
    border: 3px solid white;
  }
  &.has-party {
    position: relative;
    .party {
      position: absolute;
      right: -3px;
      bottom: -3px;
      img {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto;
        @include border-radius(100%);
        border: 2px solid $color-black;
      }
    }
  }
  &.is-president {
    border: none;
    img { border: 4px solid $color-black; }
  }
  &.is-small {
    img {
      width: 40px;
      height: 40px;
    }
    .party {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  &.is-large {
    img {
      width: 90px;
      height: 90px;
    }
    .party {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
