.avatar {
  display: inline-block;
  @include border-radius(100%);
  border: 1px solid $color-black;
  background-color: $color-gray-light;
  img { margin: 0; }
  .photo {
    display: block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    @include border-radius(100%);
    border: 4px solid white;
    img { width: 100%; }
  }
  &.has-party {
    position: relative;
    .party {
      position: absolute;
      z-index: 1;
      right: -3px;
      bottom: -3px;
      img {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto;
        background-color: white;
        @include border-radius(100%);
        border: 1px solid $color-black;
      }
    }
  }
  &.is-president {
    border: none;
    .photo { border: 4px solid $color-black; }
  }
  &.is-small {
    .photo {
      margin: 0;
      width: 40px;
      height: 40px;
    }
    .party {
      img {
        margin: 0;
        width: 20px;
        height: 20px;
      }
    }
  }
  &.is-large {
    .photo {
      margin: 0;
      width: 90px;
      height: 90px;
      border: 3px solid white;
    }
    .party {
      img {
        margin: 0;
        width: 30px;
        height: 30px;
      }
    }
  }
}
