.btn-share-module {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  @include border-radius(2px);
  &:hover { text-decoration: none; }
  .counter {
    display: inline-block;
    margin: 0 4px;
    color: $color-blue-deep;
    @include adjust-font-size-to(ms(0), .5);
  }
  .button {
    padding: 2px 9px 3px;
    color: white;
    @include adjust-font-size-to(ms(0));
    background-color: $color-blue-deep;
    &:hover { background-color: lighten($color-blue-deep, 10%); }
  }
  .counter + .button { margin-top: 8px; }
}

.btn-like-module {
  display: inline-block;
  text-align: center;
  padding: 3px 12px;
  text-align: center;
  background-color: $color-gray-light;
  @include border-radius(2px);
  &:hover {
    text-decoration: none;
    background-color: lighten($color-gray-light, 3%);
  }
  .counter {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 4px;
    color: $color-red;
    vertical-align: middle;
    @include adjust-font-size-to(ms(0), .5);
  }
  .button {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    @include replace-text-with-svg("like_button");
    background-color: transparent;
  }
  &.push {
    padding: 6px 12px;
    background-color: $color-red;
    &:hover { background-color: lighten($color-red, 10%); }
    .button {
      vertical-align: middle;
      @include replace-text-with-svg("like_button_white");
    }
    .text {
      display: inline-block;
      margin-left: 3px;
      color: white;
      vertical-align: middle;
      @extend %subpixel;
    }
  }
  .counter + .button { margin-top: 6px; }
  &.in-question {
    padding: 0 6px;
    background-color: transparent;
    .button {
      margin-top: 0;
      vertical-align: middle;
    }
    .counter {
      display: inline-block;
      top: 0;
      vertical-align: middle;
    }
  }
}

.btn-dislike-module {
  display: inline-block;
  text-align: center;
  padding: 3px 12px;
  text-align: center;
  background-color: $color-gray-light;
  @include border-radius(2px);
  &:hover {
    text-decoration: none;
    background-color: lighten($color-gray-light, 3%);
  }
  .counter {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 4px;
    color: $color-gray;
    vertical-align: middle;
    @include adjust-font-size-to(ms(0), .5);
  }
  .button {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    @include replace-text-with-svg("dislike_button");
    background-color: transparent;
  }
  .counter + .button { margin-top: 6px; }
}

.btn-like-module + .btn-dislike-module {
  position: relative;
  margin-left: -1px;
  @include border-radius(0 2px 2px 0);
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
    width: 1px;
    background-color: $color-gray;
  }
}

.btn-share-module + .btn-like-module,
.btn-like-module + .btn-share-module {
  margin-left: 6px;
}


.btn_loadmore {
  width: 100%;
  @include leader();
  padding: 12px 12px;
  color: white;
  background-color: $color-red;
  @include border-radius(5px);
  @include transition(background-color .25s);
  &:hover { background-color: lighten($color-red, 10%); }
}
