%list, .list {
  @include reset-box-model;
  @include leader(.5);
  @include trailer(.5);
  list-style: none;
  @include adjust-font-size-to(13px, .75);
  li {
    @include pie-clearfix;
  }
  li + li {
    @include leader(.25);
    @include padding-leader(.25);
    border-top: 1px solid $color-gray-light;
  }
  a {
    @include unstyled-link;
    display: block;
    &:hover {
      text-decoration: underline;
      .list-content { color: $color-red; }
    }
  }
  .list-label {
    @extend %subpixel;
    float: left;
    width: 7em;
    color: $color-gray;
  }
  .list-content {
    color: $text-black;
    overflow: hidden;
  }
  .list-content-row {
    @include pie-clearfix;
  }
  @include at-breakpoint($pad) {
    @include adjust-font-size-to(16px);
    li + li {
      @include leader(.5);
      @include padding-leader(.5);
    }
    .list-content-row { padding-bottom: rhythm(.25); }
  }
}

.list-with-image {
  @extend %list;
  a {
    @include pie-clearfix;
    &:hover {
      .list-content { text-decoration: underline; }
    }
  }
  .list-image {
    float: left;
    max-width: 25%;
    width: 80px;
    height: 50px;
    margin-right: 10px;
    line-height: 0;
    background-image: url(/images/list_image_bg.png);
  }
  .list-content {
    float: left;
    margin-top: 6px;
    width: 70%;
    height: 36px;
    overflow: hidden;
    text-align: left;
  }
  @include at-breakpoint($pad) {
    .list-content {
      margin-top: 3px;
      height: 48px;
    }
  }
}

