.meta-info {
  @include adjust-font-size-to(13px);
  .meta {
    display: inline-block;
    margin-right: 12px;
    .label { display: inline-block; }
    &.is-highlight {
      @extend %subpixel;
      padding-right: 9px;
      color: white;
      background-color: $color-red;
      .label {
        margin-right: 3px;
        padding: 3px 9px;
        color: white;
        background-color: $color-black;
      }
      a { color: white; }
    }
  }
}

.label {
  display: inline-block;
  padding-right: 3px;
  color: $color-gray;
}