.meta-info {
  @include adjust-font-size-to(ms(0));
  .meta {
    display: inline-block;
    margin-right: 6px;
    .label { display: inline-block; }
    &.is-highlight {
      @extend %subpixel;
      padding-right: 9px;
      color: white;
      background-color: $color-red;
      .label {
        margin-right: 3px;
        padding: 3px 9px;
        color: white;
        background-color: $color-black;
      }
    }
  }
}

.label {
  display: inline-block;
  padding-right: 2px;
  color: $color-red;
}