.pagination {
  @include leader(2);
  @include trailer(2);
  padding: 0;
  text-align: center;
  list-style: none;
  li { display: inline-block; }
  a {
    margin: 0 rhythm(.05);
    padding: rhythm(.3) rhythm(.5);
    @include adjust-font-size-to(ms(0));
    color: white;
    text-decoration: none;
    background: $color-black;
    @include border-radius(3px);
    @include transition(background ease-in-out .2s);
    &.more { padding: rhythm(.3) rhythm(.45); }
    %single-page-switch-basic {
      display: inline-block;
      width: 0px;
      height: 0px;
      @include hide-text;
      border: 5px solid transparent;
    }
    .previous {
      @extend %single-page-switch-basic;
      margin-right: 3px;
      border-left: 2px solid transparent;
      border-right: 5px solid white;
    }
    .next {
      @extend %single-page-switch-basic;
      margin-left: 3px;
      border-right: 2px solid transparent;
      border-left: 5px solid white;
    }
    &.disabled {
      pointer-events: none;
      cursor: default;
      background: lighten($color-black, 70%);
    }
    &.active {
      background: $color-red;
    }
    &.active:hover { background: lighten($color-red, 10%); }
    &:hover { background: lighten($color-black, 15%); }
    @include at-breakpoint($pad) {
      margin: 0 rhythm(.15);
      padding: rhythm(.35) rhythm(.55);
      @include adjust-font-size-to(ms(1));
      &.more { padding: rhythm(.35) rhythm(.5); }
    }
  }
}
