.post {
  @include box-sizing(border-box);
  @include leader();
  @include at-breakpoint($desktop) {
    @include span-columns(8);
    padding-right: rhythm(3);
  }
  .post-title {
    @include trailer(.5);
    @include padding-trailer(.5);
    font-weight: bold;
    border-bottom: 1px solid $color-gray-light;
  }
}

.post-extend-content {
  @include leader(3);
  @include trailer(3);
  @include padding-leader(.5);
  border-top: 3px solid $color-gray-light;
  .content-title {
    @include trailer(.5);
    @include padding-trailer(.5);
    font-weight: bold;
    border-bottom: 1px solid $color-gray-light;
  }
  img {
    @include trailer(0);
  }
}

@include at-breakpoint($desktop) {
  .post-extend-content {
    .list-with-image {
      @include pie-clearfix;
      li {
        float: left;
        width: 48%;
        margin-right: 2%;
        @include leader(0);
        @include padding-leader(.5);
        @include padding-trailer(.5);
        border-top: none;
        border-bottom: 1px solid $color-gray-light;
      }
    }
  }
}