.search-bar {
  @include trailer(.5);
  input {
    @include reset-box-model;
    padding: 6px 12px;
    border: 1px solid darken($color-gray-light, 15%);
    border-right: none;
    outline: none;
    @include border-radius(2px 0 0 2px);
    @include transition(background-color .25s);
    &:focus {
      background-color: #ffffee;
    }
  }
}