.search-bar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  @include replace-text-with-svg("icon-search");
  padding: 6px;
  background-color: $color-black;
  cursor: pointer;
  &.is-open { @include replace-text-with-svg("icon-search-close"); }
}
.search-bar {
  display: none;
  margin-left: -16px;
  margin-right: -16px;
  background-color: $color-black;
  &.is-open { display: block; }
  input {
    @include reset-box-model;
    @include box-sizing(border-box);
    padding: 9px 12px;
    width: 85%;
    outline: none;
    color: white;
    background-color: $color-black;
  }
  .btn_search {
    float: right;
    @include replace-text-with-svg("icon-search");
    padding: 18px;
    vertical-align: top;
    background-color: $color-black;
    @include border-radius(0px);
  }
}

.search-results-title {
  @include trailer();
  @extend %h3;
  color: $color-gray;
  font-weight: bold;
}

.search-results {
  .sub-results-title {
    @include trailer(.5);
    @include adjust-font-size-to(ms(1));
    font-weight: bold;
    color: $color-red;
  }
}

@include at-breakpoint($pad) {
  .search-bar-toggle {
    display: none;
  }
  .search-bar {
    display: block;
    position: absolute;
    top: 0;
    right: 16px;
    margin-left: 0;
    margin-right: 0;
    input { width: auto; }
  }
}