.nav-select {
  @include trailer();
  &.in-filter {
    display: block;
    @include trailer(.5);
    margin-right: 12px;
  }
  .select-label {
    display: inline-block;
    margin-right: 6px;
    @include adjust-font-size-to(13px);
    font-weight: bold;
  }
}

@include at-breakpoint($pad) {
  .nav-select {
    &.in-filter {
      display: inline-block;
      @include trailer(0);
    }
  }
}