// animation
.tab-pane {
  @include pie-clearfix;
  display: none;
  &.active {
    display: block;
  }
  &.fade {
    @include transition(opacity .5s);
    opacity: 0;
    &.in {
      opacity: 1;
    }
  }
}
