.legislator-resume {
  .ask-form {
    @include trailer();
    @include padding-trailer();
    border-bottom: 1px solid $global-divider;
    h3 { @include trailer(.5);}
    .label {
      @include adjust-font-size-to(ms(0));
      font-weight: bold;
    }
    textarea, input {
      @include reset-box-model;
      @include box-sizing(border-box);
      overflow: hidden;
      width: 100%;
      @include leader(.25);
      @include trailer(.5);
      padding: rhythm(.25);
      border: 1px solid $color-gray;
      @include border-radius(5px);
      &:disabled {
        background-color: $color-gray-light;
      }
    }
  }
  .question-list {
    position: relative;
    .sort {
      margin: 0 0 12px 12px;
      @include adjust-font-size-to(ms(0));
      select {
        margin-left: 6px;
        @include adjust-font-size-to(ms(1));
      }
    }
    .filter { margin: 0; }
    .tab-pane { padding: 0; }
  }
  .question-item:nth-child(odd) {
    .question-header { background-color: $color-gray-light; }
  }
  .question-header {
    @include pie-clearfix;
    @include reset-box-model;
    padding: rhythm(.5) 0;
    border-bottom: 1px solid darken($color-gray-light, 5%);
    list-style: none;
    li {
      float: left;
      margin-right: 12px;
      @include adjust-font-size-to(ms(0));
      font-weight: bold;
    }
    li.like-button {
      width: 60px;
      margin-top: -2px;
    }
    li.date { width: 40px; }
    li.question-title {
      width: 100%;
      padding-left: 6px;
      @include ellipsis;
    }
    li.open { float: right; }
  }
  .question-content {
    padding: 0 rhythm(.5) 0 rhythm(1.5);
    &.in {
      border-bottom: 1px solid darken($color-gray-light, 5%);
    }
    .question-status {
      @include pie-clearfix;
      @include leader(.5);
      @include trailer(.5);
      @include adjust-font-size-to(ms(0));
      .info {
        width: 75%;
        float: left;
        .date {
          color: $color-red;
          font-weight: bold;
        }
      }
      .share {
        float: right;
        .button { margin: 0; }
      }
    }
    .question-title {
      @include trailer(.5);
      font-weight: bold;
    }
    .question {
      position: relative;
      @include trailer();
      &:before {
        content: "Ｑ";
        position: absolute;
        left: -40px;
        @include adjust-font-size-to(ms(4));
        font-weight: bold;
        color: lighten($color-red, 50%);
      }
    }
    .answer {
      position: relative;
      @include trailer();
      .unanswered-message {
        color: $text-gray;
        font-weight: bold;
      }
      &:before {
        content: "Ａ";
        position: absolute;
        left: -40px;
        @include adjust-font-size-to(ms(4));
        font-weight: bold;
        color: lighten($color-blue, 10%);
      }
    }
    .interactive {
      @include trailer(.5);
      text-align: right;
      @include adjust-font-size-to(ms(0));
    }
  }
}
@include at-breakpoint($pad) {
  .legislator-resume {
    .question-list {
      .sort {
        position: absolute;
        right: 0;
        padding-top: 3px;
      }
    }
    .question-header {
      li.question-title {
        float: left;
        width: 60%;
      }
    }
    .question-content {
      .question-status {
        .info { width: auto; }
      }
      .answer {
        .unanswered-message {
          @include adjust-font-size-to(ms(2), 1.75);
        }
      }
    }
  }
}

@include at-breakpoint($desktop) {
  .legislator-resume {
    .question-header {
      li.question-title {
        width: 55%;
      }
    }
  }
}
